.cardWithform-Off {
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4f7705ec-8c49-4eed-a56e-c21f3985254c/dah43cy-a8e121cb-934a-40f6-97c7-fa2d77130dd5.png/v1/fill/w_1024,h_1420,strp/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg_dah43cy-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQyMCIsInBhdGgiOiJcL2ZcLzRmNzcwNWVjLThjNDktNGVlZC1hNTZlLWMyMWYzOTg1MjU0Y1wvZGFoNDNjeS1hOGUxMjFjYi05MzRhLTQwZjYtOTdjNy1mYTJkNzcxMzBkZDUucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9GzaYS7sd8RPY5FlHca09J9ZQZ9D9zI69Ru-BsbkLDA);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 10em 0px 0px 0px;
    width: 400px;
    height: 600px;
}

.cardWithform-On{
    background-image:url(https://www.pokebip.com/membres/galeries/1217/1217241528089622100.jpg);
    background-repeat: no-repeat;
    margin: 10em 0px 0px 0px;
    width: 400px;
    height: 600px;
}


.avatar{
    position:relative;
    top:40px;
    left:20%;
    width: 200px;
    height: 200px;
}
  
.type{
    position:relative;
    top: 10em;
    right:25%;
    width: 120px;
    height: 120px;
}

.card-list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:center;
}
  
.background{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image:url(https://cherry.img.pmdstatic.net/fit/https.3A.2F.2Fimg.2Egaming.2Egentside.2Ecom.2Farticle.2Fgallery.2Ffond-d-ecran-pokken-tournament_c6b6f439ad499f8bf09c223b5ff125c14a17f8ba.2Ejpg/640x360/quality/80/fond-d-ecran-pokken-tournament.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(2px);
}
